.hero__content {
    padding-top: 70px;
}

.hero__img img {
    transform: rotate(-25deg);
    width: 85% !important;
}

.hero__title {
    font-size: 2.5rem;
    line-height: 55px;
}

.hero__title span {
    color: #df2020;
}

.hero__content p {
    font-size: 1rem;
    line-height: 30px;
    color: #777;
}

.hero__btns button {
    border: none;
    outline: none;
    padding: 7px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
}

.order__btn {
    background: #df2020;
    color: #fff;
    transition: .3s;
}

.order__btn:hover {
    background-color: #212245;
}

.all__products-btn {
    background-color: transparent;
    border: 1px solid #df2020 !important;
}

.all__products-btn a {
    color: #df2020;
}

.hero__service p {
    color: #212245;
    font-weight: 600;
    font-size: .9rem;
}

.shipping__icon i {
    padding: 5px;
    background-color: #df2020;
    color: #fff;
    border-radius: 50%;
    font-weight: 500 !important;
}
@media only screen and (max-width: 992px) {
    .hero__img img {
        width: 75% !important;
        margin-top: 50px;
        
    }
}
@media only screen and (max-width: 768px) {
    .swiper-slide {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .hero__content h5{
        font-size: 1rem;
    }

    .hero__content p {
        font-size: .8rem;
        line-height: 25px;
    }

    .hero__title {
        font-size: 1.5rem;
        line-height: 40px;
    }

    .hero__btns button {
        padding: 5px 15px;
        font-size: 0.7rem;
    }

    .hero__service p{
        font-size: .7rem !important;
    }

}

@media only screen and (max-width: 576px) {
   
    .hero__content {
        text-align: center;
    }

    .hero__btns {
        justify-content: center;
    }

    .hero__service {
        justify-content: center;
    }
}

@media only screen and (max-width: 400px) {
    

    .hero__img img {
        width: 50% !important;
    }

    .hero__content p{
        display: none;
    }
}